#setxkbmap -layout us,ru -option 'grp:alt_shift_toggle,grp_led:scroll,caps:escape'
#picom -b &
#nitrogen --restore &
#/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
setxkbmap -layout "us+xkb_mod(capsctrl)+xkb_mod(ctrlwin),ru(winkeys)" -option "grp_led:scroll" -print | xkbcomp -I"$HOME/.config/xkb" - "${DISPLAY%%.*}" >/dev/null 2>&1
xcape -t 150 -e "Control_L=Escape"
